<div class="section">
    <h4>Animals</h4>
    <ul>
        <li *ngFor="let animal of animals">
            Name: <a routerLink="/list/{{ animal.id }}">{{animal.name}}</a> | Type: {{animal.type}}
            <button (click)="showAge(animal)">Show age</button>
            <button (click)="removeAnimal(animal)">Delete</button>

        </li>
    </ul>
    <p>{{ animalDetails }}</p>
    <h4>Cars</h4>
    <ul>
        <li *ngFor="let car of cars">
            Brand: <a routerLink="/list/{{ car.id }}">{{car.brand}}</a> | Type: {{car.model}}
            <button (click)="showYear(car)">Show year</button>
            <button (click)="removeCar(car)">Delete</button>

        </li>
    </ul>
    <p>{{ carDetails }}</p>

</div>
