.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70px;
    padding: 10px 20px;
    border-radius: 15px;
    background-color: #2e2e2e;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.content {
    display: flex;
    justify-content: bottom;
    align-items: center;
}

.forms {
    width: 80%;
    margin: 0 auto;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}