<!-- <div class="container" >
<div class="section">
  <h3>Products</h3>
  <h4>Name:</h4>
  <p>Description:</p>
  <div *ngIf="products && products.length > 0">
    <ul>
      <li *ngFor="let product of products">
        <h4>Name: {{ product.title }}</h4>
        <p>Description: {{ product.description }}</p>
        <p>Price: {{ product.price }} </p>
      </li>
    </ul>
  </div>
</div>
</div> -->

<div *ngIf="products.length > 0; else loading">
  <h3>Products list</h3>
  <ul>
    <li *ngFor="let product of products">
      <h4>Name: {{ product.title }}</h4>
      <p>Description: {{ product.description }}</p>
      <p>Price: {{ product.price }}</p>
      <!-- Adicione outros campos do produto conforme necessário -->
    </li>
  </ul>
</div>

<ng-template #loading>
  <p>Loading products list...</p>
</ng-template>
